.vscode

# GUnit.CLI
/GUnit.CLI/bin/ 
/GUnit.CLI/obj/

# GUnit.Library
/GUnit.Library/bin/ 
/GUnit.Library/obj/ 
/GUnit.Library/.godot/

# GUnit.Shared
/GUnit.Shared/bin/ 
/GUnit.Shared/obj/ 

# GUnit.Demo
.godot/
